div.paragraph {
    flex: 1 1 1000px;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;

    div.headings_container {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 20px;

        div.icon {
            flex: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 50px;
                margin: -5px 5px 0px 0px;
            }
        }

        div.headings {
            flex: auto;
            width: 100%;

            * {
                margin: 0;
            }
            h2 {
                font-size: 23px;
                color: #3a3a3a;
                margin-bottom: 6px;
            }
            h3 {
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.2pt;
                color: #adadad;
            }
        }
    }
    p {
        overflow: hidden;
        margin: 0px;
        line-height: 1.583em;
        font-size: 12px;
        color: #3a3a3a;
        height: 70px;
    }
}